* {
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 16px;
  font-family: 'Noto Sans';font-size: 16px;
}
  
  /* Style the header */
  header {
    background-color: #B4E4FF;
    height: 3.7rem;
    padding: 1px;
    text-align: center;
    font-size: 10px;
    color: darkblue;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 10%;
    height: 300px; /* only for demonstration, should be removed */
    /*background: #ccc;*/
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #95BDFF;
    padding: 10px;
    text-align: center;
    color: #2D459B;
  }

  .btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #A0FE73;
    color: #2D459B;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .btn:hover {
    background-color: #00994d;
    color: #f1f1f1;
  }
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  .head_data{
    display: flex;
    justify-content: space-between;
    font-weight: bold;

  }
  .head_data .carnet{
    text-align: right;
    font-size: 15px;
    float: right;
    

  }
  .head_data .logo{
    text-align: left;
    float:left; 
    font-size: 15px;
  }

  .courses_select{
    float:left;
    overflow: visible;

  }
  .course_box{
    background-color: #A0FE73;
    width: 17rem;
    height: 17rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #2D459B;
    font-weight: bold;
    display:block;
    margin-left: 1rem;
    margin-bottom: 1rem;

    


  }
  .course_box svg {
    margin-bottom: -15px; /* Agrega un margen de 10 píxeles a la derecha del elemento SVG */
  }




