<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export</title>
</head>
<body>
    <input type="file" id="fileInput" webkitdirectory directory>
    <script>
        document.getElementById('fileInput').addEventListener('change', (event) => {
            const files = event.target.files;
            const directoryPath = files[0].webkitRelativePath.split("/")[0];
            // Enviar la ruta del directorio a la vista de Django
        });
    </script>
</script>
</body>
</html>