<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>

</head>
<body>
  <header>
    <div class="head_data">
      <span class="logo">AppLogo</span>
      <span class="carnet">{{user.name}}</span>
      <span class="carnet">{{user.carne}}</span>
      </div>
    </header>
    
    <section>
      <nav>
        <a href="sincronizar_datos">Sincronizar</a>
        <ul>
          <li><a href="crear_curso">Crear Curso</a></li>
          <li><a href="#">Modificar Usuario</a></li>
          <li><a href="#">Darse de Baja</a></li>
        </ul>
      </nav>
      
      <article>
        <h2>Cursos Disponibles:</h2>
        <div>
          {% for clave, valor in datos.items %}

          <section class="courses_select">
            <div class="course_box">
              
              <svg style="padding:center;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="150" height="150" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2D459B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
              </svg>
              <span>{{ valor.name }}</span>
            </div>
          </section>  
          {% endfor %}
        </div>
        <br></br>
        
      </article>
      <section style="float:left">
        <h3>Insertar Token para ingresar a curso</h3>
        <input type="text" id="token" name="token">
        <a class="btn" type="submit" href="">Ok!</a>
        <h1>Funcionamiento de la aplicacion</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </section>
    </section>
    
    <footer>
      <p>Footer</p>
    </footer>
    
    </body>
</html>