<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    
</head>
<body>
    <nav>
        <a class="btn">Importar Usuario</a>
        <input type="file" class="Boton"></input>
        

    </nav>
    <main>
        <div>
            Bienvenido a AppName
            <img>
            Identifier
            <span>{{ datos.name }}</span>
            <span>{{ datos.carne }}</span>
        </div>    
        {% if datos %}
        <a href="/home" class="btn">Ingresar</a>
        {% else %}
            <button class="btn" disabled>Ingresar</button>
        {% endif %}
    </main>
</body>
</html>